<% if (content.validationError) { %>
  <div class="validation-error">
    <ul>
    <% content.validationError.forEach(error=> { %>
      <li><%= error.msg %></li>
    <% }) %>
    </ul>
  </div>
  <% } %>