<footer >
  <div>
    <div class="top">
      This project is part of <a href="https://www.theodinproject.com/dashboard">The Odin Project</a>
    </div>
    <div class="bottom">
      Made with ❤️ by <a href="https://github.com/99lash">99lash</a>
    </div>
  </div>
</footer>