<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= windowTitle %></title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="icon" href="/assets/favicon.ico" sizes="16x16 32x32 64x64" type="image/x-icon">
</head>

<body>
  <%- include('./partials/header') %>
  <%- include('./partials/main', {content}) %>
  <%- include('./partials/footer') %>
</body>

</html>