<main class="section main-content is-flex is-justify-content-center is-align-items-center">
<% if (locals.currentUser.role_id===4) { %>
  <div class="section is-flex is-justify-content-center is-align-items-center">
    <div class="box" style="min-width: 300px; width: 500px; max-width: 100%;">
      <h1 class="title has-text-centered">Join the Club</h1>
      <!-- Error Message -->
      <% if (locals.error_msg.length) { %>
        <div class="notification is-danger is-light">
          <strong>
            <%= error_msg %>
          </strong>
        </div>
        <% } %>
        <form action="/membership" method="POST">
          <div class="field">
            <label class="label" for="passcode">Passcode</label>
            <div class="control has-icons-left">
              <input class="input" type="password" name="passcode" id="passcode" placeholder="Enter passcode"
                required>
              <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
              </span>
            </div>
            <p class="help">Ask an admin if you don't have one.</p>
          </div>

          <div class="buttons mt-4 is-flex is-flex-direction-column">
            <button type="submit" class="button is-primary is-fullwidth">
              <span class="icon"><i class="fas fa-door-open"></i></span>
              <span>Join</span>
            </button>
            <a href="/" class="button is-light is-fullwidth">Back to Home</a>
          </div>
        </form>
    </div>
  </div>
<% } else { %>
  <div class="section is-flex is-flex-direction-column is-justify-content-center is-align-items-center"">
    <div class="has-text-centered">
      <h1 class="title is-1 has-text-success">Congratulations!🎉</h1>
      <p class="subtitle is-4 mb-5">You're already a club member.</p>
      <a href="/" class="button is-link is-medium">
        <span class="icon"><i class="fas fa-arrow-left"></i></span>
        <span>Back to Home</span>
      </a>
    </div>
  </div>
<% } %>
</main>

<% if (currentUser && [1, 2].includes(currentUser.role_id)) { %>
  <a href="/admin/users" class="admin-fab" title="Go to Admin Panel">
    <span class="icon is-medium">
      <i class="fas fa-tools"></i>
    </span>
  </a>
<% } %>