<main class="section main-content is-flex is-align-items-center is-justify-content-center">
  <div class="section is-flex is-flex-direction-column is-justify-content-center is-align-items-center"">
  <div class=" has-text-centered">
    <h1 class="title is-1 has-text-danger">401</h1>
    <p class="subtitle is-4 mb-5">Account deactivated. Please contact the admin to appeal.</p>

    <a href="/logout" class="button is-link is-medium">
      <span class="icon"><i class="fas fa-arrow-left"></i></span>
      <span>Back to Home</span>
    </a>
  </div>
  </div>
</main>